@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "lora", serif;
    /* overflow: auto; */
}

html{
    scroll-behavior: smooth;
}
/* Config Nav Bar */
header{
    background-color: #4F8A8B;
    height: 80px;
    font-size: 20px;
    word-spacing: 10px;
    border-bottom: 2px solid;
    border-color: #3a6566;
    position:static;
}
.navbar-custom {
    background-color:#4F8A8B;
    padding: 10px 0;
    
}
.navbar-brand{
    float: left;
    font-family: "caveat", cursive;
    font-size: 40px;
    color:#FBD46D;
    padding: 10px;
}
.navbar-custom, .navbar-custom .navbar-nav .nav-link {
    color: #222831; 
    padding: 15px; 
    margin: 3px; 
    /* text-transform: uppercase;  */
}
.nav-link {
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-custom, .navbar-custom .navbar-nav .nav-link:hover {
    color:#FBD46D;
    padding: 10px 0; 
    margin: 0; 
}

.navbar-custom, .navbar-custom .navbar-nav .nav-link.active {
    color:#FBD46D;
}

/* fin header */




/* Home */
.main{
    min-height:calc(100vh - 70px - 100px);
    background-image: url(../assets/berries-2277_1280.jpg);
    background-size: cover;
    background-color: #4F8A8B;
    padding: 30px;
}
.homeContent{
    margin-top: 20px;
}

.HomeTitle{
    background-color: #4F8A8B;
    border-radius: 20px;
    margin-top: 20%;
}
.HomeTitle span{
    color: #FBD46D;
}
.moreInfo{
    display: inline-flex;
}

.InfoBtn{
    background-color: #3a6566;
    color: #222831;
    border:#3a6566;
    border-radius: 5px;
    margin-left: 15px;
    text-decoration: none;
    padding: 5px;
}

.InfoBtn:hover{
    color: #FBD46D;
}





/* About Us */
.MainAbUs{
    padding: 30px;
    min-height:calc(100vh - 70px - 100px);
    width: 100%;
    background-size: cover;
    background-color: #4F8A8B;
    align-items: center;
    /* overflow: auto; */
}
.containerimage{
    margin-top: 25px;
    border-radius: 50%;
}
.containerbg{
    background-color: #FBD46D;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px;
}
.containerbg h2{
    color:#3a6566;
    text-transform: uppercase;
    font-weight: bold;
}






/* Clients */
.ClientsMain{
    min-height:calc(100vh - 70px - 100px);
    background-size: cover;
    background-color: #4F8A8B;
    align-items: center;
    overflow: auto;
    padding: 20px;
}
.UserHistory{
    background-color: #FBD46D;
    align-items: center;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
}
.imageUser{
    border-radius:50%;
    max-width:100px;
    height: auto;
    margin: 15px;
}

.UserName{
    margin-top: 50px;
    margin-left: 20px;
}

.UserText{
    padding-top: 45px;
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 30px;
}





/* Contact */
.MainContacts{
    min-height:calc(100vh - 70px - 100px);
    background-image: url(../assets/berries-2277_1280.jpg);
    background-size: cover;
    background-color: #4F8A8B;
    overflow: auto;
}
.Title h2{
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
    font-family: "caveat", cursive !important;
    background-color: #FBD46D;
    padding: 30px;
}

form{
    background-color: #FBD46D;
    margin: 30px;
    padding: 40px;
    border-radius: 20px;
}

.enviar{
    margin-top: 10px;
}

.enviar .btn{
    color: #FBD46D;
    background-color: #3a6566;

}





/* Services */
.ServicesMain{
    min-height:calc(100vh - 70px - 100px);
    background-size: cover;
    background-color: #4F8A8B;
    align-items: center;
    overflow: auto;
    padding: 20px;
}
.ServiceX{
    background-color: #FBD46D;
    align-items: center;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    height: 500px;
    max-height: 900px;
    overflow: auto;
}
.imageServ{
    border-radius:50%;
    max-width:100px;
    height: auto;
    margin: 15px;
}

.ServName{
    margin-top: 50px;
    margin-left: 10px;
}

.ServText{
    padding-top: 45px;
    margin-left: 15px;
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}



/* inicio footer */


footer{
    background-color:  #4F8A8B;
    color: #EEEEEE;
    text-align: center;
    padding: 30px;    
    font-size: 25px;
    border-top: 2px solid;
    border-color: #3a6566;
    align-items: center;
}

footer p{
    margin-bottom: 20px;
}

footer .redes a{
    color: #EEEEEE;
    font-size: 50px;
    letter-spacing: 20px;
}

.subir{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #EEEEEE;
    background-color: #222831;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #222831;
}

.subir:hover{
    color: #FBD46D;
}

/* fin footer */
