@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "lora", serif;
    /* overflow: auto; */
}

html{
    scroll-behavior: smooth;
}
/* Config Nav Bar */
header{
    background-color: #4F8A8B;
    height: 80px;
    font-size: 20px;
    word-spacing: 10px;
    border-bottom: 2px solid;
    border-color: #3a6566;
}

.logo{
    float: left;
    font-family: "caveat", cursive;
    font-size: 40px;
    color:#FBD46D;
    padding: 10px;
}

.navbar-custom .nav-link {
    color: #222831; 
    font-weight: bold; 
    padding: 0.5rem 1rem; 
    margin: 0 0.5rem; 
    text-transform: uppercase; 
}

.navbar-custom .nav-link:hover {
    color: #FBD46D; 
}

.navbar-custom .nav-link.active {
    color: #FBD46D;
}

.main{
    height:100vh;
    background-image: url(../assets/berries-2277_1280.jpg);
    background-size: cover;
    background-color: #4F8A8B;
    overflow: auto;
}
.homeContent{
    margin-top: 20px;
}

/* fin header */




/* Home */
.HomeTitle{
    background-color: #4F8A8B;
}
.moreInfo{
    display: inline-flex;
}

.InfoBtn{
    background-color: #3a6566;
    color: #222831;
    border:#3a6566;
    border-radius: 5px;
    margin-left: 15px;
    text-decoration: none;
    padding: 5px;
}

.InfoBtn:hover{
    color: #FBD46D;
}
/* About Us */
.MainAbUs{
    height: calc(100vh - 80px);
    width: 100%;
    background-size: cover;
    background-color: #4F8A8B;
    align-items: center;
    overflow: auto;
}

/* Clients */
.ClientsMain{
    height:100vh;
    background-size: cover;
    background-color: #4F8A8B;
    align-items: center;
    overflow: auto;
    padding: 20px;
}
.UserHistory{
    background-color: #FBD46D;
    align-items: center;
    padding: 15px;
    margin: 20px;
}
.imageUser{
    border-radius:50%;
    max-width:100px;
    height: auto;
    margin: 15px;
}

.UserName{
    margin-top: 50px;
    margin-left: 10px;
}

.UserText{
    padding-top: 45px;
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 30px;
}
/* Contact */


/* Services */





/* inicio footer */


footer{
    background-color:  #4F8A8B;
    color: #EEEEEE;
    text-align: center;
    padding: 30px;    
    font-size: 25px;
    border-top: 2px solid;
    border-color: #3a6566;
    align-items: center;
}

footer p{
    margin-bottom: 20px;
}

footer .redes a{
    color: #EEEEEE;
    font-size: 50px;
    letter-spacing: 20px;
}

/* footer .FooterSmall a{
    size-adjust: auto;
} */
.subir{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #EEEEEE;
    background-color: #222831;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #222831;
}

.subir:hover{
    color: #FBD46D;
}

/* fin footer */
